<style>
h1{
  text-align:center;
  color:#D9D2C5;
  font-style: normal;
  font-family:monospace;
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 10PX;
}

h2{
  text-align:center;
  color:#D9D2C5;
  font-style: italic;
  font-family:monospace;
  font-size: 20px;
  padding-top: 10px;
}

#pianta{
        width:400px;
        float:left;
        margin: 10px 180px;
        border: 10px solid #80A7BF;
        padding-right: 5px;
        padding-left:5px;
        padding-bottom: 5px;
        padding-top: 5px;
      }
#sezione{
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 400px;
  border: 10px solid #80A7BF;
  margin: 10px 180px;
}
#Mappa{

        width:600px;
        margin: 10px 700px;
        border: 10px solid #80A7BF;
        padding-right: 5px;
        padding-left:5px;
        padding-bottom: 5px;
        padding-top: 5px;
        position: absolute;
        top:220px;
        left:50px;
      }

</style>
